.links__img{
    position: absolute;
    max-width: 70%;
    z-index: -1;
    
    right: 0;
}
.links__media{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.linkwrp{
    width: 80%;
}