.speaking {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    & h1 {
        text-transform: capitalize;
    }
}
.two {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .8rem ;
    padding: 0 2rem ;
    & ul {
        padding-left: 3rem ;
    }
}

.qa {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: .8rem ;
    padding: 0 2rem ;
}
.qa > p {
    max-width: 100%;
}
@media (width < 480px) {
    .qa , .two{
        padding: 0;
    }
}