.home__wrp{
  width: 100%;
}
.home__header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 97vh;
}

.home {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  width: 50%;
  padding: 2rem;
  gap: 1.5rem;
  & .description {
    font-size: 4rem;
    font-weight: 800;
    & p {
      color: purple;
      animation: changeColor  infinite 30s ease-out;
    }
  }
  & > p {
    width: 85%;
  }
  & .social__btn {
    display: grid;
    place-content: center;
    width: 165px;
    height: 62px;
    cursor:  pointer;
    color: #fff;
    font-size: 17px;
    border-radius: 1rem;
    border: none;
    position: relative;
    background: #100720;
    transition: 0.1s;
  }
  
  & .social__btn::after {
    content: '';
    width: 100%;
    height: 100%;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    filter: blur(15px);
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
  }
  
  & .social__btn:active {
    transform: scale(0.9) rotate(3deg);
    background: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,94,247,1) 17.8%, rgba(2,245,255,1) 100.2% );
    transition: 0.5s;
  }
}
.home > img {
  inset: 0;
  margin: auto;
  width: 80%;
  z-index: -1;
  position: absolute;
}
code.custom {
  background-color: transparent;
}
.oq{
  color: white;
  text-decoration: none;
}
.description {
  display: flex;
}
@keyframes changeColor {
  25%{color: #198E55;}
  50%{color: #D9BE72;}
  75%{color: #22824F;}
  100%{color: #FF50D4;}
}
@media (width < 1278px) {
  .home{
    width: 60%;
    padding: 0;
  }
}
@media (width < 1024px) {
  .home{
    width: 70%;
    padding: 0;
  }
}
@media (width < 820px) {
  .home{
    width: 80%;
    padding: 0;
    & .description{
      font-size: 3rem;
    }
    & > p{
      width: 70%;
    }
  }
}

@media (width < 580px) {
  .home {
    & .description{
      font-size: 2.3rem;
    }
    & > p {
      width: 90%;
      font-size: smaller;
    }
    img {
      width: 100%;
    }
    & .social__btn {
      width: 140px;
    height: 45px;
    }
    & .typinganimation__wrp > h1{
      font-size: 1.5rem;
    }
  }
  
}
@media (width < 410px){
  .home {
    & .description{
      font-size: 2rem;
    }
  }
}

@media (width < 380px) {
  .home {
    & .description{
      font-size: 2rem;
    }
    width: 90%;
    & > p{
      width: 85%;
    }
  }
}