.home > * {
  /* width: 50%; */
}
.home {
  display: flex;
  flex-direction: column;
}

.home-inside{
    outline: 1px snow solid;
    width: 100%;
    display: flex;
}
.svg  {
    display: flex;
    align-items: center;
    justify-content: center;
  & .komputer {
    width: 100%;
  }
}

.huge__title {
    -webkit-text-stroke: 3px var(--unique);
    font-family: var(--font-sb);
    color: var(--primary-color);
    font-size: 7rem;
    letter-spacing: 0.5rem;
    transition: var(--smooth-transition);
    &:hover {
        --first-color: #1d2b53;
        transition: --fast-transition;
        -webkit-text-stroke-color: var(--first-color);
    }
}
:nth-child(2 of .huge__title) {
    &:hover {
        --first-color: #7e2553;
    }
}
:nth-child(3 of .huge__title) {
    &:hover {
        --first-color: #7fc7d9;
    }
}
:nth-child(4 of .huge__title) {
    &:hover {
        --first-color: #bf3131;
    }
}
.filled {
    color: var(--unique);
    &:hover {
        color: #1d2b53;
    }
}

@media (width < 1024px) {
    .huge__title{
        font-size: 3rem;
        color: aqua ;
    }
}
@media (width < 1024px) {
    .huge__title{
        
        font-size: 3rem;
    }
}