.typinganimation{
    display: flex;
    align-items: center;
    font-size: 5rem;
}

@media (width < 1024px) {
    .typinganimation{
        font-size: 4rem;
    }    
}
@media (width < 780px) {
    .typinganimation{
        font-size: 3rem;
    }    
}
@media (width < 550px) {
    .typinganimation{
        font-size: 2.5rem;
    }    
}
@media (width < 440px) {
    .typinganimation{
        font-size: 2rem;
    }    
}



